* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    background: hsl(242, 53%, 34%);
    background-image: linear-gradient(95deg, hsl(242, 53%, 34%) 0%, hsl(195, 51%, 54%) 40%, hsl(276, 21%, 55%) 94%, hsl(262, 20%, 49%) 100%);
    background-size: 300%;
    animation: bg-animation 9s infinite alternate;
}

/* There is an idea if its cool try to implement it, to change the colour of the text inside article tag in each cycle , but the colours should be opposite of the body animation */
@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 1.5rem;
}


.quiz {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   margin-block:8em;
   height: 80vh;
}

.block {
    padding-block: 8em;
    padding-inline: 10em;
    border: 10px solid white;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 15px;
    font-family: 'Ariel', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* values in the box-shadow property are, the horizontal offset, vertical offset, blur radius, and color of the shadow */

}

.row {
    display: flex;
    flex-direction: row;

}
