* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right, #333399, #FF00Cc);
    min-height: 100vh;
}


.quiz {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   margin-block:8em;
   height: 80vh;
}

.block {
    padding-block: 6em;
    padding-inline: 8em;
    border: 1px solid white;
  

}
.row {
    display: flex;
    flex-direction: row;

}
