* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right, #333399, #FF00Cc);
    min-height: 100vh;
}


.quiz {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   margin-block:8em;
   height: 80vh;
}

.block {
    padding-block: 8em;
    padding-inline: 10em;
    border: 10px solid white;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 15px;
    font-family: 'Ariel', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;

}